{
  "app": {
    "host": "0.0.0.0",
    "port": 8080,
    "log_level": "INFO",
    "default_llm_alias": "OLLAMA"
  },
  "ora_tzfile": null,
  "databases": {
    "PGSQL_DB": {
      "driver": "postgresql",
      "host": "host.docker.internal",
      "port": 5432,
      "database": "qa_auto",
      "user": "qa_user",
      "password": "change-me"
    }
  },
  "llm": {
    "OLLAMA": {
      "base_url": "http://host.docker.internal:11434/v1",
      "api_key": "your-token-here",
      "model": "gpt-4o-mini",
      "timeout": 600
    }
  }
}
